In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, Index

from pathlib import Path
from datetime import date
import requests

import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
import seaborn as sns

***

> ### Data Set Sample 1

In [4]:
testData = pd.read_csv('Group_Project/test.csv')
testData

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,14,13,2,0,06/10/13,6,13:28,218,E10000032,4,...,Daylight: Street light present,Snowing without high winds,Dry,None,None,2,Yes,England,HX2 8WH,United Kingdom
1,17,13,2,0,22/04/13,7,9:30,157,E10000034,6,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,RM8 1DD,United Kingdom
2,21,13,2,0,27/09/13,3,19:10,155,E09000012,3,...,Daylight: Street light present,Fine without high winds,Wet/Damp,None,None,1,Yes,England,SE23 1NH,United Kingdom
3,23,13,2,0,13/03/13,4,9:19,26,E10000016,4,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,England,HU10 7QS,United Kingdom
4,28,14,2,0,13/06/13,1,14:59,6,E08000012,4,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,England,BD23 5JL,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121254,599986,1,2,0,05/07/13,5,18:31,6,E06000042,6,...,Darkness: Street lights present and lit,Fine without high winds,Wet/Damp,None,None,1,Yes,England,HD9 4AB,United Kingdom
121255,599990,62,2,0,22/11/13,6,7:40,633,W06000004,3,...,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1,Yes,Alba / Scotland,AL2 1FS,United Kingdom
121256,599991,13,2,0,12/10/13,6,8:26,143,E10000034,3,...,Daylight: Street light present,Fine without high winds,Dry,Roadworks,None,2,Yes,England,BN3 3WA,United Kingdom
121257,599993,1,2,0,05/06/13,5,22:54,7,E09000016,6,...,Daylight: Street light present,Fine without high winds,Wet/Damp,Roadworks,None,1,Yes,England,DL14 8HH,United Kingdom
121258,600000,1,2,0,08/10/13,2,10:20,22,E09000025,5,...,Daylight: Street light present,Fine without high winds,Wet/Damp,Roadworks,None,1,Yes,England,E14 8JT,United Kingdom

In [ ]:
trainData = pd.read_csv('Group_Project/train.csv')
trainData

In [15]:
populationData = pd.read_csv('Group_Project/population.csv')
populationData

,postcode,Rural Urban,Variable: All usual residents; measures: Value,Variable: Males; measures: Value,Variable: Females; measures: Value,Variable: Lives in a household; measures: Value,Variable: Lives in a communal establishment; measures: Value,Variable: Schoolchild or full-time student aged 4 and over at their non term-time address; measures: Value,Variable: Area (Hectares); measures: Value,Variable: Density (number of persons per hectare); measures: Value
0,AL1 1,Total,5453,2715,2738,5408,45,75,225.63,24.2
1,AL1 2,Total,6523,3183,3340,6418,105,77,286.59,22.8
2,AL1 3,Total,4179,2121,2058,4100,79,46,97.12,43.0
3,AL1 4,Total,9799,4845,4954,9765,34,285,244.75,40.0
4,AL1 5,Total,10226,5129,5097,10211,15,133,200.93,50.9
...,...,...,...,...,...,...,...,...,...,...
8030,SA73 3,Total,5246,2515,2731,5244,2,59,1284.14,4.1
8031,SA8 3,Total,4769,2344,2425,4736,33,59,2061.58,2.3
8032,SA8 4,Total,7787,3816,3971,7673,114,76,3174.90,2.5
8033,SA9 1,Total,7898,3827,4071,7723,175,67,8164.17,1.0
8034,SA9 2,Total,7281,3595,3686,7253,28,69,3306.61,2.2

In [17]:
populationData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8035 entries, 0 to 8034
Data columns (total 10 columns):
 #   Column                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                      --------------  -----
 0   postcode                                                                                                    8035 non-null   object
 1   Rural Urban                                                                                                 8035 non-null   object
 2   Variable: All usual residents; measures: Value                                                              8035 non-null   int64
 3   Variable: Males; measures: Value                                                                            8035 non-null   int64
 4   Variable: Females; measures: Value                                                                          8035 non-null   int64
 5   Variable: Lives in a household; measures: Value                                                             8035 non-null   int64
 6   Variable: Lives in a communal establishment; measures: Value                                                8035 non-null   int64
 7   Variable: Schoolchild or full-time student aged 4 and over at their non term-time address; measures: Value  8035 non-null   int64
 8   Variable: Area (Hectares); measures: Value                                                                  8035 non-null   float64
 9   Variable: Density (number of persons per hectare); measures: Value                                          8035 non-null   float64
dtypes: float64(2), int64(6), object(2)
memory usage: 627.9+ KB

***

> ## Data set Sample 2

In [11]:
album = pd.read_csv('Group_Project/album_ratings.csv')
album

,Artist,Title,Release Month,Release Day,Release Year,Format,Label,Genre,Metacritic Critic Score,Metacritic Reviews,Metacritic User Score,Metacritic User Reviews,AOTY Critic Score,AOTY Critic Reviews,AOTY User Score,AOTY User Reviews
0,Neko Case,Middle Cyclone,March,3,2009,LP,ANTI-,Alt-Country,79.0,31.0,8.7,31.0,79,25,78,55
1,Jason Isbell & The 400 Unit,Jason Isbell & The 400 Unit,February,17,2009,LP,Thirty Tigers,Country Rock,70.0,14.0,8.4,7.0,73,11,73,8
2,Animal Collective,Merriweather Post Pavilion,January,20,2009,LP,Domino,Psychedelic Pop,89.0,36.0,8.5,619.0,92,30,87,1335
3,Bruce Springsteen,Working on a Dream,January,27,2009,LP,Columbia Records,Rock,72.0,29.0,7.9,101.0,70,23,66,38
4,Andrew Bird,Noble Beast,January,20,2009,LP,Fat Possum,Singer-Songwriter,79.0,29.0,8.7,47.0,74,24,78,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32353,Death Valley Girls,Under the Spell of Joy,October,2,2020,LP,Suicide Squeeze,NaN,70.0,7.0,NaN,NaN,67,7,63,3
32354,Gorillaz,"Song Machine, Season One: Strange Timez",October,23,2020,LP,NaN,NaN,80.0,11.0,9.3,44.0,75,8,94,4
32355,Tobin Sprout,Empty Horses,September,18,2020,LP,Fire,NaN,77.0,5.0,NaN,NaN,79,5,64,4
32356,Jeremy Ivey,Waiting out the Storm,October,16,2020,LP,ANTI-,NaN,82.0,4.0,NaN,NaN,77,3,64,3
32357,Delmer Darion,Morning Pageants,October,16,2020,LP,Practise,NaN,78.0,4.0,NaN,NaN,79,5,69,4

In [12]:
album.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32358 entries, 0 to 32357
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Artist                   32358 non-null  object
 1   Title                    32357 non-null  object
 2   Release Month            31769 non-null  object
 3   Release Day              31768 non-null  object
 4   Release Year             32358 non-null  int64
 5   Format                   32358 non-null  object
 6   Label                    28902 non-null  object
 7   Genre                    24398 non-null  object
 8   Metacritic Critic Score  13884 non-null  float64
 9   Metacritic Reviews       13884 non-null  float64
 10  Metacritic User Score    9099 non-null   float64
 11  Metacritic User Reviews  10574 non-null  float64
 12  AOTY Critic Score        32358 non-null  int64
 13  AOTY Critic Reviews      32358 non-null  int64
 14  AOTY User Score          32358 non-null  int64
 15  AOTY User Reviews        32358 non-null  int64
dtypes: float64(4), int64(5), object(7)
memory usage: 4.0+ MB